export GOODREADS_ID=""
export GOODREADS_KEY=""
export TWITTER_CONSUMER_KEY=""
export TWITTER_CONSUMER_SECRET=""
export TWITTER_ACCESS_TOKEN=""
export TWITTER_ACCESS_SECRET=""
export TWITTER_USER=""
export WANI_KANI_API_TOKEN=""
